   # Ignore Python cache files
   __pycache__/
   *.pyc

   # Ignore virtual environments
   venv/
   node_modules/
   .env/

   # Ignore system files
   .DS_Store

   # Ignore output directories
   /data/output/

   # Ignore other temporary or unnecessary files
   *.log
   *.tmp

   # Ignore Nvidia and Torch libraries if not needed
   venv/lib/python3.11/site-packages/nvidia/
   venv/lib/python3.11/site-packages/torch/
   venv/lib/python3.11/site-packages/triton/

   # Ignore config.ini file
   config.iniconfig.ini
config.ini
